<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="container">
    <div class="container-header">
        <a href="/post/{{post.id}}">{{post.title}}</a>
        <h3 class="container-date">Posted by {{post.user.username}} on {{format_date post.date_created}}</h3>
    </div>
    <div class="container-content">
        <p>{{post.content}}</p>
    </div>
</div>
{{/each}}